.homework {
	text-indent: 25px;
	color: grey;
	font-size: 20px;
	line-height: 30px;
	font-weight: 900;
	letter-spacing: 2px;
}

/* .line {
	height: 2px;
	width: 100%;
}

.text {
	font-size: 16px;
	line-height: 16px;
	font-style: italic;
}

.title {
	color: red;
	font-family: serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
}

.text2 {
	text-align: right;
	text-decoration: underline dashed;
}

.text3 {
	text-shadow: 2px 3px 1px rgb(204, 202, 202);
}

.text4 {
	text-transform: lowercase;
	text-align: justify;
}

.text5 {
	text-indent: 50px;
	letter-spacing: 5px;
}

.text6 {
	word-spacing: 10px;
}

.text7 {
	white-space: pre-wrap;
} */
