.content-1__block {
	background-color: #e9d9d9;
	padding: 25px 25px 0px;
}

.content-1__inline {
	width: 50vw;
	display: block;
}

.content-1__inline-1 {
	width: 200px;
	height: 100px;
	overflow: auto;
}

.content-1__inline-2 {
	width: 50%;
	display: block;
}